docs/xsd/ujorm-1.91.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by the module 'ujo-xsd' 1.91 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="CheckReport">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SKIP"/>
            <xs:enumeration value="QUOTE_SQL_NAMES"/>
            <xs:enumeration value="QUOTE_ONLY_SQL_KEYWORDS"/>
            <xs:enumeration value="WARNING"/>
            <xs:enumeration value="EXCEPTION"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CommentPolicy">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ON_ANY_CHANGE"/>
            <xs:enumeration value="FOR_NEW_OBJECT"/>
            <xs:enumeration value="NEVER"/>
            <xs:enumeration value="ALWAYS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LoadingPolicy">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISABLED"/>
            <xs:enumeration value="ALLOWED_USING_OPEN_SESSION"/>
            <xs:enumeration value="ALLOWED_ANYWHERE_WITH_WARNING"/>
            <xs:enumeration value="ALLOWED_ANYWHERE_WITH_STACKTRACE"/>
            <xs:enumeration value="ALLOWED_ANYWHERE"/>
            <xs:enumeration value="CREATE_STUB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CachePolicy">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROTECTED_CACHE"/>
            <xs:enumeration value="SOLID_CACHE"/>
            <xs:enumeration value="NO_CACHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DbType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="INTEGER"/>
            <xs:enumeration value="BOOLEAN"/>
            <xs:enumeration value="BIT"/>
            <xs:enumeration value="TINYINT"/>
            <xs:enumeration value="SMALLINT"/>
            <xs:enumeration value="BIGINT"/>
            <xs:enumeration value="DECIMAL"/>
            <xs:enumeration value="FLOAT"/>
            <xs:enumeration value="DOUBLE"/>
            <xs:enumeration value="REAL"/>
            <xs:enumeration value="NUMERIC"/>
            <xs:enumeration value="TIME"/>
            <xs:enumeration value="DATE"/>
            <xs:enumeration value="TIMESTAMP"/>
            <xs:enumeration value="TIMESTAMP_WITH_TIMEZONE"/>
            <xs:enumeration value="BINARY"/>
            <xs:enumeration value="VARCHAR"/>
            <xs:enumeration value="VARCHAR_IGNORECASE"/>
            <xs:enumeration value="LONGVARCHAR"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="BLOB"/>
            <xs:enumeration value="CLOB"/>
            <xs:enumeration value="UUID"/>
            <xs:enumeration value="ARRAY"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QuoteEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
            <xs:enumeration value="byConfig"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Orm2ddlPolicy">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DO_NOTHING"/>
            <xs:enumeration value="WARNING"/>
            <xs:enumeration value="CREATE_DDL"/>
            <xs:enumeration value="CREATE_OR_UPDATE_DDL"/>
            <xs:enumeration value="VALIDATE"/>
            <xs:enumeration value="INHERITED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MoreParams">
        <xs:sequence>
            <xs:element name="dialectMySqlEngineType" type="xs:string" minOccurs="0"/>
            <xs:element name="enableToUnlockImmutableMeta-model" type="xs:boolean" minOccurs="0"/>
            <xs:element name="extentedIndexNameStrategy" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MetaParams">
        <xs:sequence>
            <xs:element name="cachePolicy" type="CachePolicy" minOccurs="0"/>
            <xs:element name="tableAliasPrefix" type="xs:string" minOccurs="0"/>
            <xs:element name="tableAliasSuffix" type="xs:string" minOccurs="0"/>
            <xs:element name="sequenceCache" type="xs:int" minOccurs="0"/>
            <xs:element name="loadingPolicy" type="LoadingPolicy" minOccurs="0"/>
            <xs:element name="orm2ddlPolicy" type="Orm2ddlPolicy" minOccurs="0"/>
            <xs:element name="commentPolicy" type="CommentPolicy" minOccurs="0"/>
            <xs:element name="saveConfigToFile" type="xs:string" minOccurs="0"/>
            <xs:element name="initializationBatch" type="xs:string" minOccurs="0"/>
            <xs:element name="typeService" type="xs:string" minOccurs="0"/>
            <xs:element name="indexModelBuilder" type="xs:string" minOccurs="0"/>
            <xs:element name="metaDbService" type="xs:string" minOccurs="0"/>
            <xs:element name="sqlNameProvider" type="xs:string" minOccurs="0"/>
            <xs:element name="checkKeywords" type="CheckReport" minOccurs="0"/>
            <xs:element name="maxItemCountForIN" type="xs:int" minOccurs="0"/>
            <xs:element name="sequenceSchemaSymbol" type="xs:boolean" minOccurs="0"/>
            <xs:element name="inheritanceMode" type="xs:boolean" minOccurs="0"/>
            <xs:element name="insertMultirowItemLimit" type="xs:int" minOccurs="0"/>
            <xs:element name="moreParams" type="MoreParams" minOccurs="0"/>
            <xs:element name="logMetamodelInfo" type="xs:boolean" minOccurs="0"/>
            <xs:element name="logSqlMultiInsert" type="xs:boolean" minOccurs="0"/>
            <xs:element name="autoClosingDefaultSession" type="xs:boolean" minOccurs="0"/>
            <xs:element name="logbackLoggingSupport" type="xs:boolean" minOccurs="0"/>
            <xs:element name="logValueLengthLimit" type="xs:int" minOccurs="0"/>
            <xs:element name="fixingTableSequences" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MetaProcedure">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="schema" type="xs:string" minOccurs="0"/>
            <xs:element name="parameter" type="MetaColumn" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MetaRelation2Many">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MetaColumn">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="primaryKey" type="xs:boolean" minOccurs="0"/>
            <xs:element name="quoted" type="QuoteEnum" minOccurs="0"/>
            <xs:element name="dbType" type="DbType" minOccurs="0"/>
            <xs:element name="mandatory" type="xs:boolean" minOccurs="0"/>
            <xs:element name="maxLength" type="xs:int" minOccurs="0"/>
            <xs:element name="precision" type="xs:int" minOccurs="0"/>
            <xs:element name="default" type="xs:string" minOccurs="0"/>
            <xs:element name="index" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="uniqueIndex" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="constraintName" type="xs:string" minOccurs="0"/>
            <xs:element name="converter" type="xs:string" minOccurs="0"/>
            <xs:element name="comment" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MetaTable">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="quoted" type="QuoteEnum" minOccurs="0"/>
            <xs:element name="alias" type="xs:string" minOccurs="0"/>
            <xs:element name="schema" type="xs:string" minOccurs="0"/>
            <xs:element name="readOnly" type="xs:boolean" minOccurs="0"/>
            <xs:element name="orm2ddlPolicy" type="Orm2ddlPolicy" minOccurs="0"/>
            <xs:element name="sequence" type="xs:string" minOccurs="0"/>
            <xs:element name="select" type="xs:string" minOccurs="0"/>
            <xs:element name="comment" type="xs:string" minOccurs="0"/>
            <xs:element name="column" type="MetaColumn" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="relation2m" type="MetaRelation2Many" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="optional"/>
        <xs:attribute name="view" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MetaDatabase">
        <xs:sequence>
            <xs:element name="schema" type="xs:string" minOccurs="0"/>
            <xs:element name="readOnly" type="xs:boolean" minOccurs="0"/>
            <xs:element name="dialect" type="xs:string" minOccurs="0"/>
            <xs:element name="jdbcUrl" type="xs:string" minOccurs="0"/>
            <xs:element name="jdbcDriver" type="xs:string" minOccurs="0"/>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="jndi" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sequencer" type="xs:string" minOccurs="0"/>
            <xs:element name="orm2ddlPolicy" type="Orm2ddlPolicy" minOccurs="0"/>
            <xs:element name="table" type="MetaTable" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="procedure" type="MetaProcedure" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="MetaRoot">
        <xs:sequence>
            <xs:element name="database" type="MetaDatabase" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="parameters" type="MetaParams" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="body" type="MetaRoot"/>
</xs:schema>